@media(max-width: 1110px) {
    .container {
        width: auto;
        padding: 0 30px;
    }
    body {
        min-height: 320px;
    }

    .dress__item {
        width: 25%;
    }
}

@media(max-width: 1326px) {
    .slider__button--prev {
        left: 0;
    }

    .slider__button--next {
        right: 0;
    }
}


@media(max-width:992px) {
    .menu__wrapper {
        flex-wrap: wrap;
    }
    
    .logo {
        order: -1;
        width: 100%;
    }
}

@media(max-width:768px) {
    .slider__wrapper {
        display: none;
    }

    .slider__button {
        display: none;
    }

    .header {
        min-height: 90px;
    }

    .logo {
        order: -1;
        width: 70%;
    }

    .basket {
        order: -1;
        text-align: right;
    }

    .menu__link {
        padding: 15px 0;
    }

    .dress__item {
        width: 33%;
    }
}

@media (max-width:600px) {
    .basket,
    .menu {
        display: none;
        width: 100%;
    }

    .navbar-toggler {
        display: block;
    }

    .mainmenu__list {
        flex-direction: column;
    }
}

.show {
    display: block;
}

@media(max-width:576px) {
    .dress__item {
        width: 35%;
    }

    .dress__text {
        left: 126px;
    }
}